.list {
    display: flex;
    height: 100%;

    .listContainer {
        flex: 3;

        .listFilter {
            padding-right: 50px;
        }
    }


    .mapContainer {
        flex: 2;
        background-color: #e9f4ff;
        height: 100%;

    }
}