.profile {
    display: flex;
    height: 100%;

    .userInfo {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 3;

        .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
            }
        }


        .propList {
            overflow-y: scroll;

            .listCards {
                padding-right: 50px;
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                gap: 20px;
            }
        }
    }

    h1 {
        font-weight: 400;
        font-size: 28px;
    }

   
    .messages {
        flex : 2;
        background-color: #e9f4ff;
        height: 100%;
    }
}