.filter {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
        font-weight: 400;
        font-size: 2em;
        color: #777;
    }

    input, select {
        padding: 12px 20px;
        font-size: 16px;
    }

    .item {
        display: flex;
        flex-direction: column;
        gap: 2;

        label {
            font-size: 12px;
        }
    }

    .bottom {
        display: flex;
        gap: 20px;

        .item {
            width: 20%;
            
        }

        button {
            height: 100%;
            cursor: pointer;
            font-size: 28px;
        }
    }
}