@import '../../responsive.scss';

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    overflow: hidden;

    a {
        transition: all ease 0.4s;

        &:hover {
        scale: 1.05;
        }
    }

    .left-side {
        height: 100%;
        flex: 3;
        display: flex;
        gap: 50px;
        align-items: center;

        @include sm {
            a:not(:first-child) {
                display: none;
            }
        }

        .logo {
            font-size: 20px;
            font-weight: 700;

            span {

                @include md {
                    display: none;
                }

                @include sm {
                    display: initial
                }
            }
        }


    }

   
    .right-side {
        display: flex;
        align-items: center;justify-content: flex-end;
            flex: 2;
            background-color: #e9f4ff;
            height: 100%;
        

            .user {
                display: flex;
                gap: 20px;
                align-items: center;
                font-weight: bold;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                margin: auto;
            }
            }


            .profile-btn {
                background-color:#7FA1C3 ;
                font-weight: bold;
                cursor: pointer;
                position: relative;

                .notif {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    background-color: rgb(251, 100, 100);
                    color: white;
                    height: 30px;
                    width: 30px;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                    border-radius: 50%;
                }
            }

            @include sm {
                a {
                    display: none;
            }
        }

        a {
            margin: 0 20px;
            padding: 12px 24px;
        }

        .sign-up {
            background-color: #7FA1C3;
        }

    }

    @include sm {
        .right-side {
            background-color: transparent;
        }
    }


    .menu-button {
        display: none;
        cursor: pointer;
        font-size: 30px;
        color: black;

        &.open {
            color: white;
        }

        @include sm {
            display: block;
            z-index: 100;
        }
    }
    
    .horizontal-nav {
        z-index: 5;
        display: flex;
        color: white;
        font-size: 22px;
        font-size: 500;
        gap: 50px;
        align-items: center;
        padding-top: 100px;
        flex-direction: column;
        transition: all ease 0.3s;
        position: absolute;
        top:0;
        right: -50%;
        width: 50%;
        height: 100vh;
        background-color: #6482AD;
        
        @include sm {
            &.open{
            right: 0px;
            }
        }
      
    }
}